@import url("https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&family=Comfortaa:wght@300..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply box-border p-0 m-0 scroll-smooth font-comfortaa;
  }

  html {
    scrollbar-width: none;
  }

  html::-webkit-scrollbar {
    display: none;
  }

  .transition-500-in-out {
    @apply transition-all duration-500 ease-in-out;
  }

  .transition-1000-in {
    @apply transition-all duration-1000 ease-in;
  }
}

@layer components {
  .input {
    @apply h-[45px] placeholder:text-sm outline-none border focus:border-Pewter rounded-md text-base px-3 text-Pewter;
  }

  .socialMedia-input {
    @apply input sm:w-[350px] w-full;
  }

  .buttonWithSVG-hover:hover {
    svg {
      @apply text-black fill-current transition-500-in-out;
    }

    span {
      @apply text-black transition-500-in-out;
    }
  }

  .button {
    @apply p-3 font-medium text-center capitalize border rounded-md transition-500-in-out w-60;
  }

  .blue-button {
    @apply text-white button bg-DeepBlue hover:bg-Bluebell;
  }

  .white-button {
    @apply bg-white button text-DeepBlue border-DeepBlue hover:text-white hover:bg-DeepBlue;
  }

  .grey-button {
    @apply text-white bg-gray-500 hover:bg-gray-600 button;
  }

  .red-button {
    @apply text-white bg-red-700 hover:bg-red-500 button;
  }

  .error {
    @apply self-start text-sm text-center text-red-600;
  }

  .modal {
    @apply absolute top-0 left-0 z-50 flex flex-col items-center w-full h-full py-5 xl:h-screen portrait:justify-start lg:py-10 md:px-8 lg:px-28 xl:py-20 justify-evenly xl:px-60 bg-Silvermist/90;
  }
}

@layer utilities {
  .scrollbar-hide {
    &::-webkit-scrollbar {
      display: none;
    }
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
